<div class="page" id="page">
  {{> organisms-header }}
  <div role="main">
    <div class="l-two-col">
      <div class="l-main">
        <article class="article">
          <header class="article-header">
            <h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
            {{> molecules-byline }}
          </header>
          {{> organisms-article-body }}
        </article><!--/article-->
        {{> molecules-social-share }}
        {{> organisms-comment-thread }}
      </div><!--/l-main-->

      <div class="l-sidebar">
        {{> organisms-related-posts }}
        {{> organisms-recent-tweets }}
      </div><!--/l-sidebar-->
    </div><!--/l-two-col-->
  </div><!--/main-->
  {{> organisms-footer }}
</div><!--/page-->
