&lt;section class=&quot;section related-posts&quot;&gt;
  &lt;h3 class=&quot;section-title&quot;&gt;Recent Tweets&lt;/h3&gt;
  &lt;ul class=&quot;headline-list&quot;&gt;
    &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/h4&gt; {{&gt; atoms-time }}&lt;/li&gt;
    &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Laborum, molestiae, rerum, dolores eveniet &lt;/a&gt;&lt;/h4&gt; {{&gt; atoms-time }}&lt;/li&gt;
    &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;{{ url }}&quot;&gt;quae est fugit distinctio iure odit minus non ipsum &lt;/a&gt;&lt;/h4&gt; {{&gt; atoms-time }}&lt;/li&gt;
    &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;{{ url }}&quot;&gt;dolorum deserunt omnis voluptates voluptatum&lt;/a&gt;&lt;/h4&gt; {{&gt; atoms-time }}&lt;/li&gt;
    &lt;li&gt;&lt;h4&gt;&lt;a href=&quot;{{ url }}&quot;&gt;nventore dignissimos vel molestiae, rerum, dolore&lt;/a&gt;&lt;/h4&gt; {{&gt; atoms-time }}&lt;/li&gt;
  &lt;/ul&gt;
  &lt;p&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;text-btn&quot;&gt;Follow us on Twitter&lt;/a&gt;&lt;/p&gt;
&lt;/section&gt;
