<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ link.pages-homepage }}">Home</a></li>
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ link.pages-blog }}">Blog</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav>
