<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla sem a urna porttitor fringilla. Nulla eget justo felis. </p>

<p><a href="#">Aliquam erat volutpat.</a> {{ excerpt.long }}</p>

{{> atoms-landscape-16x9 }} 

<p>{{ excerpt.long }}</p>

{{> atoms-blockquote }}

<p>{{ excerpt.medium }}</p>

{{> atoms-unordered }}

{{> atoms-ordered }}

<p>{{ excerpt.medium }}</p>

<p>{{ excerpt.short }}</p>