&lt;p class=&quot;intro&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla sem a urna porttitor fringilla. Nulla eget justo felis. &lt;/p&gt;

&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Aliquam erat volutpat.&lt;/a&gt; {{ excerpt.long }}&lt;/p&gt;

{{&gt; atoms-landscape-16x9 }} 

&lt;p&gt;{{ excerpt.long }}&lt;/p&gt;

{{&gt; atoms-blockquote }}

&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;

{{&gt; atoms-unordered }}

{{&gt; atoms-ordered }}

&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;

&lt;p&gt;{{ excerpt.short }}&lt;/p&gt;