{{# fonts }}
  {{# type }}&lt;h2&gt;{{ type }}&lt;/h2&gt;{{/ type }}
  &lt;ul&gt;
  {{# styles }}
    {{# normal }}&lt;li{{# class }} class=&quot;{{ class }}&quot;{{/ class }}&gt;Normal font: {{ normal }}&lt;/li&gt;{{/ normal }}
    {{# italic }}&lt;li{{# class }} class=&quot;{{ class }}&quot;{{/ class }}&gt;&lt;em&gt;Italic font: {{ italic }}&lt;/em&gt;&lt;/li&gt;{{/ italic }}
    {{# bold }}&lt;li{{# class }} class=&quot;{{ class }}&quot;{{/ class }}&gt;&lt;strong&gt;Bold font: {{ bold }}&lt;/strong&gt;&lt;/li&gt;{{/ bold }}
  {{/ styles }}
  &lt;/ul&gt;
{{/ fonts }}
