&lt;section class=&quot;section latest-posts&quot;&gt;
  &lt;h2 class=&quot;section-title&quot;&gt;Latest Posts&lt;/h2&gt;
  &lt;ul class=&quot;post-list&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;{{ link.pages-article }}&quot;&gt;{{&gt; molecules-media-block }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ link.pages-article }}&quot;&gt;{{&gt; molecules-media-block }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ link.pages-article }}&quot;&gt;{{&gt; molecules-media-block }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ link.pages-article }}&quot;&gt;{{&gt; molecules-media-block }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ link.pages-article }}&quot;&gt;{{&gt; molecules-media-block }}&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;p&gt;&lt;a href=&quot;{{ link.pages-blog }}&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;&lt;/p&gt;
&lt;/section&gt;
