<div class="block block-hero">
	<div class="b-thumb">
		{{> atoms-landscape-16x9 }}
	</div>
	<div class="b-text">
		<h2 class="b-title"><a href="{{ link.pages-article }}" class="b-inner">{{ headline.medium }}</a></h2>
	</div>
</div>