<div class="block block-thumb">
	<div class="b-thumb">
		{{> atoms-square }}
	</div>
	<div class="b-text">vv
		<h2 class="b-title"><a href="{{ link.pages-article }}" class="b-inner">{{ title }}</a></h2>
	</div>
</div>