<div class="block block-inset">
  <div class="inner">
    <div class="b-thumb">
      <a href="{{ link.page-article }}">{{> atoms-landscape-4x3 }}</a>
    </div>
    <div class="b-text">
      <h2 class="headline"><a href="{{ link.page-article }}">{{ headline.short }}</a></h2>
    </div>
  </div>
</div><!--/block-->
