<section class="section latest-posts">
  <h2 class="section-title">Latest Posts</h2>
  <ul class="post-list">
    <li><a href="{{ link.pages-article }}">{{> molecules-media-block }}</a></li>
    <li><a href="{{ link.pages-article }}">{{> molecules-media-block }}</a></li>
    <li><a href="{{ link.pages-article }}">{{> molecules-media-block }}</a></li>
    <li><a href="{{ link.pages-article }}">{{> molecules-media-block }}</a></li>
    <li><a href="{{ link.pages-article }}">{{> molecules-media-block }}</a></li>
  </ul>
  <p><a href="{{ link.pages-blog }}" class="text-btn">View more posts</a></p>
</section>
