{{# colors }}
  {{# color-group }}<h2>{{ color-group }}</h2>{{/ color-group }}
  <ul class="sg-colors">
  {{# color-items }}
    <li>
      <span class="sg-swatch" style="background: {{ color }};"></span>
      <span class="sg-label">{{ color }}</span>
      {{# variable }}<code>{{ variable }}</code>{{/ variable }}
    </li>
  {{/ color-items }}
  </ul>
{{/ colors }}
