{{# fonts }}
	{{# type }}<h2>{{ type }}</h2>{{/ type }}
	<ul>
	{{# styles }}
		{{# normal }}<li{{# class }} class="{{ class }}"{{/ class }}>Normal font: {{ normal }}</li>{{/ normal }}
		{{# italic }}<li{{# class }} class="{{ class }}"{{/ class }}><em>Italic font: {{ italic }}</em></li>{{/ italic }}
		{{# bold }}<li{{# class }} class="{{ class }}"{{/ class }}><strong>Bold font: {{ bold }}</strong></li>{{/ bold }}
	{{/ styles }}
	</ul>
{{/ fonts }}